// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// fb colors
$blue-fb-strong: #3b589c;
$blue-fb-mid: #7d90b0;
$blue-fb-light: #1773ea;
// insta colors
$purple-ist: #9e1091;
$blue-ist: #3397e1;
$pink-ist: #d22e8c;
$orange-ist: #f9a23d;
$yellow-ist: #fed77b;
