.general-create{
  height: 90vh;
  width: auto;
}

.titre-create h3{
  font-size: 60px;
  font-weight: bolder;
  color: white;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.field-create{
  font-size: 20px;
  font-weight: bolder;
  color: black;
  text-align: left;
  margin-left: 2vh;
  height: 12vh;
  text-align: center;
}

#core-search, .form-control {
  margin-top: 0vh;
  text-align: center;
}
