// Specific CSS for your home-page
html, body {
  position: relative;
  min-height: 100vh;
}

.slogan{
  text-align: center;
}

.core-home{
  background-color: blue;
  height: 40vh;
  text-decoration: none;
  font-size: 32px;
  color: white;

}

.header, h1{
  text-align: center;
}

.core-search, .form-control{
  width: 20vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
}
