// Specific CSS for your home-page
html, body {
  position: relative;
  min-height: 100vh;
}

.slogan{
  text-align: center;
}

.core-home{
  background-color: blue;
  height: 40vh;
  text-decoration: none;
  font-size: 32px;
  color: white;

}
