// Specific CSS for your home-page
html, body {
  position: relative;
  min-height: 100vh;
  height: 100vh; width: 100vw;
}

.slogan{
  text-align: center;
}

.core-home{
  background-color: blue;
  height: 40vh;
  text-decoration: none;
  font-size: 32px;
  color: white;

}

.header, h1{
  text-align: center;
}

#core-search, .form-control{
  width: 27vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  font-weight: bolder;
  color: white;
}


#core_dog{
  width: 25vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  font-weight: bolder;
  color: white;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: #3397e1;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px #1773ea;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

input{
  font-weight: bolder;
  color: white;
}

.core-search{
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
