.header, h1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: transparent;
}

#match-list, i{
  color: white;
  font-size: 40px;
  padding: 1vh;
  // margin: 1vh;
}

#match-list, a{
  color: white;
  font-size: 30px;
  margin: 2vh;
}

#match-list{
  margin-right: 1vh;
  img{
    align-items: right;
    border-radius: 50%;
  }
}
