.card-general{
  height: 88vh;
}

.head{
  height: 0vh;
}

#avatar-user{
  position: relative;
  img{
    // border-radius: 25px;
    display: inline-block;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3vh;
    margin-top: 10vh;
  }
}
.dogavatar{

  position: absolute;
  bottom: -40px;
  right: +40px;
border-radius: 50%;
// overflow: hidden;
// height: 100px;
//  width: 50px;
  img {
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
}

#dog-create{
  border: 1px, solid, black;
  border-radius: 25px;
  width: 180px;
  height: 80px;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 5vh;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  background-color: #3397e1;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px #1773ea;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  // margin-block-end: 2vh;
    a{
      text-align: center;
      display: flex;
      font-size: 18px;
    }
}

.tap{
  display:  flex;
  position: absolute, bottom end, sticky;
}
