     <div class="tinder--card" data-id=<%= dog.id %>>
        <%# <img src="https://placeimg.com/600/300/people"> %>
        <h3>Dog <%= dog.name %></h3>
        <%# <%= link_to "voir plus", dog_path(dog) %> 
      </div>
