
     <div class="tinder--card" data-id=<%= dog.id %>>
        <%# <img src="https://placeimg.com/600/300/people"> %>

  <%= cl_image_tag dog.photos.first.key, height: 300, width: 400, crop: :fill %>



        <h3> <%= dog.name %></h3>
        <%= link_to "voir plus", dog_path(dog) %>
      </div>
