
<div class="tap">
<% if user_signed_in? %>

  <%= link_to profil_path(current_user) do %>

    <div class="tapbar-account bouton">
    <h2>Account</h2>
    </div>
    <% end %>
<% end %>
  <%= link_to chatrooms_path do %>
    <div class="tapbar-chat bouton">
    <h2>Discussion</h2>
    </div>
    <% end %>
</div>
