
<div class="tap">
  <%= link_to "# account" do %>
    <div class="tapbar-account bouton">
    <h2>Account</h2>
    </div>
    <% end %>
  <%= link_to chatrooms_path do %>
    <div class="tapbar-chat bouton">
    <h2>Chat</h2>
    </div>
    <% end %>
</div>
