
<div class="tap">
  <% if user_signed_in? %>
    <%= link_to profil_path(current_user) do %>
      <div class="tapbar-account ">
        <h2><i class="fas fa-user-circle"></i></h2>
      </div>
    <% end %>
  <% end %>
    <%= link_to chatrooms_path do %>
      <div class="tapbar-chat ">
        <h2><i class="fas fa-heart"></i></h2>
      </div>
    <% end %>
    <%= link_to root_path do %>
      <div class="tapbar-chat ">
        <h2><i class="fas fa-home"></i></h2>
      </div>
    <% end %>
</div>
