<div class="tapbar">
  <div class="tapbar-account bouton-basic">
    <%= link_to "account", user_session_path %>
  </div>

  <div class="tapbar-chat bouton-basic">
    <%= link_to  "chat", chatrooms_path  %>

  </div>
</div>
