html, body{
  position: absolute;
  min-height: 92vh;
  background: linear-gradient(70deg, #9e1091, #fed77b);
}

.head h1{
  font-size: 70px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 10vh;
  color: white;
  font-weight: bolder;
}

.dog-name h2{
  font-size: 50px;
  text-align: center;
  color: white;
  font-weight: bolder;
  position: sticky;
}

.infos-dog{
  background-color: transparent;
  height: 72vh;
}


.description p{
  display: flex;
  justify-content: left;
  padding-left: 3vh;
  text-decoration: none;
  font-size: 20px;
  color: white;
  ;
}

.d-block{
  display: flex;
  margin-top: 3vh;
  width: 412px;
  height: 300px;
  object-fit: cover;
  border-image: 10px solid white;
  border-radius: 20px;
}

.chattez a{
  width: 140px;
  height: 100%;
  background-color: #3397e1;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px #1773ea;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  display: flex;
  padding: 2vh;
  margin-top: auto;
  color: white;
}

.retour a{
  width: 140px;
  height: 45px;
  background-color: #3397e1;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px #1773ea;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 3.5vh;
  margin-top: auto;
  color: white;
}

.chattez a:hover{
  background-color: #3397e1;
  box-shadow: 0px 15px 20px #1773ea;
  color: white;
  transform: translateY(-5px);
  text-align: center;
  font-weight: bolder;
}

.retour a:hover{
  background-color: #3397e1;
  box-shadow: 0px 15px 20px #1773ea;
  color: white;
  transform: translateY(-5px);
  text-align: center;
  font-weight: bolder;
}

.infos-boutons{
  margin-top: 4vh;
  padding: 2vh;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: flex-end;
  clear: both;
  position: absolute;
  width: 100%;
    a{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bolder;
    }
}

p{
  margin-top: 1vh;
display: flex;
height: 25px;
  i{
    font-size: 20px;
  }
}

#info{
  height: 0vh;
  overflow: scroll;
  font-size: 20px;
  text-align: left;
  position: absolute;
  padding-top: 0vh;
  }

.dog-name{
  h2{
    color: white;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 60px !important;
  }
}

.img-radius{
  border-radius: 50%;
}
