html, body {
  position: sticky;
  min-height: 100vh;
  background: linear-gradient(70deg, #9e1091, #fed77b);
}

.head h1{
  font-size: 70px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  color: white;
  font-weight: bolder;
}

.dog-name{
  font-size: 70px;
  text-align: center;
  color: white;
  font-weight: bolder;
  position: sticky;
}

.infos-dog{
  background-color: blue;
  height: 60vh;
}


.description p{
  display: flex;
  justify-content: left;
  padding-left: 3vh;
  text-decoration: none;
  font-size: 20px;
  color: white;
  ;
}

#rex{
  display: flex;
  margin-top: 3vh;
  // width: 200px;
  // height: 300px;
  object-fit: cover;
  border-image: 10px solid white;
  border-radius: 20px;
}

.image{
}
