.messages {
  overflow: scroll;
  height: 80VH;
  p{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(12, 7, 7);
  }
}

.messasendercontain{
  background-color: #fbfbfd;
  // float: left;
  margin-left: 55px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.messagerecipeintcontain{
  background-color: #158ffe;
  margin-right: 55px;
  display: inline-block;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#msg-date{
  font-size: 10px;
  font-weight: bolder;
  color: black;
}
