.messages {
overflow: scroll;
height: 90vh;
}
// .chatroom {
//   background: white;
//   margin-top: 9px;
//   height: calc(100vh - 75px);
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   flex-grow: 1;
// }

.messasendercontain{
  background-color: #fbfbfd;
  // float: left;
  margin-left: 55px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.messagerecipeintcontain{

  background-color: #158ffe;
  color: #fff;
  // float: right;
  margin-right: 55px;
  display: inline-block;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.chatroom-chat{
  // position: absolute;
  // width: 90wh;
  }

  .sendmessage{
    // width: 90wh;
  }
