
.tap{
  text-decoration: none;
  display: flex;
  padding: 2vh;
  margin-top: auto;
  justify-content: space-between;
  background: blue;
  align-items: flex-end;
  clear: both;
  position: absolute;
  width: 100%;
  height: 10vh;
  bottom: 0;

}

.bouton {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #3397e1;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px #1773ea;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.bouton:hover {
  background-color: #3397e1;
  box-shadow: 0px 15px 20px #1773ea;
  color: white;
  transform: translateY(-5px);
  text-align: center;
  font-weight: bolder;
}

.tap h2{
  display: flex;
  font-size: 18px;
  color: white;
  justify-content: space-around;
  font-weight: bolder;
  align-items: center;
  text-align: center;
  padding-top: 1vh;
}
