// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


#page-container{
  position: relative;
  min-height: 100vh;
}

h1{
  font-size: 70px;
  border: 4px solid black;
  border-radius: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
}

h2{
  font-size: 32px;
  text-align: center;
}
