// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
// @import "pages/show_dogs";

#page-container{
  position: relative;
  min-height: 100vh;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: transparent;
  }
  // linear-gradient(70deg, #9e1091, #fed77b)
h1{
  font-size: 70px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  color: white;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: bolder;
}
